.text-center {
    text-align: center;
}
.high {
    height: 700px;
}
/*a:hover {*/
/*    color: lawngreen; !* Цвет ссылки при наведении на нее курсора мыши *!*/
/*    text-decoration: underline; !* Добавляем подчеркивание *!*/
/*   }*/
li {
    list-style-type: none;
   }
ul {
    margin-left: 0;
    padding-left: 0;
}